.container {
    height: 100%;
    width: 28%;
    z-index: 1;
    position: relative;
}

.image {
    position: relative;
    top: -55px;
    z-index: 3;
}

.demographics_container {
    position: absolute;
    color: white;
    left: 10px;
    top: 25px;
    font-size: 30px;
    /* color: #f7c1c9; */
}

.other_demos {
    margin-top: 3px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70px;
}

.persona_type{
    font-size: 30px;
    border: 2px solid;
    padding: 5px;
    position: relative;
    bottom: 30px;
    left: 185px;
}
