.container {
    width: 96%;
    height: 110px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.title{
    font-size: 30px;
}

.skill_container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}